.header__image { width: 1250px; height: 700px;

}

.info { display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info__cities { border: solid; 
  padding: 20px;
  width: 200px;
  height: 250px;

}

.info__leaders { border: solid; 
  padding: 20px;
  width: 200px;
  height: 250px;

}

.info__landmarks { border: solid; 
  padding: 20px;
  width: 200px;
  height: 250px;

}

.cities__title{
  font-weight: bold;
  
}

}
.revealInfo { background: white;
  border: solid; 
  padding: 20px;
  width: 200px;
  height: 250px;


}









.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}


.back { background-image: url(/images/Scotland\ Village.jpg);
  border: solid; 
  padding: 20px;
  width: 200px;
  height: 250px;


}




.info__section { 
  border: solid; 
  padding: 20px;
  width: 200px;
  height: 250px;
  
  


}
.landmarks__title{
  font-weight: bold;
}

.leaders__title{
  font-weight: bold;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}